<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="allfile" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="D:/Projects/RestaurantAPI/RestaurantAPI/logs/nlog-all-${shortdate}.txt"
        keepFileOpen="true"
        encoding="utf-8" />
  </targets>

  <targets>
    <target name="exceptions" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="D:/Projects/RestaurantAPI/RestaurantAPI/logs/nlog-all-exceptions-${shortdate}.txt"
        keepFileOpen="true"
        encoding="utf-8" />
  </targets>

  <targets>
    <target name="request-time" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="D:/Projects/RestaurantAPI/RestaurantAPI/logs/nlog-request-time-${shortdate}.txt"
        keepFileOpen="true"
        encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
    <logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
  </rules>
</nlog>